{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Beachclose
{% endblock titlearea %}

{% block cssarea %}
{% endblock cssarea %}

{% block content %}
<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- SLIDER -->
                    <div class="rev_slider_wrapper fullwidthbanner-container">
                        <div id="rev-slider1" class="rev_slider fullwidthabanner">
                            <ul>
                                <!-- Slide 1 -->
                                <li data-transition="random">
                                    <!-- Main Image -->
                                    <img src="{% static 'home\static_images\slider\slider-bg-1.jpg' %}" alt=""
                                        data-bgposition="center center" data-no-retina>

                                    <!-- Layers -->
                                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700"
                                        data-x="['left','left','left','center']" data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['-12','-12','-12','-30']" data-fontsize="['52','52','50','28']"
                                        data-lineheight="['66','66','60','35']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="700" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        SYDNEY BASED<br>FINANCIAL SERVICES
                                    </div>

                                    <div class="tp-caption sub-title text-white"
                                        data-x="['left','left','left','center']" data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['104','104','95','57']" data-fontsize="['20','20','18','16']"
                                        data-lineheight="['34','34','34','25']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        Appropriate and sufficient financing for<br>a company is crucially important for
                                        its long-term success.
                                    </div>

                                    <div class="tp-caption" data-x="['left','left','left','center']"
                                        data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['193','193','180','145']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        <a href="{% url 'contact' %}" class="themesflat-button accent big video"><i
                                                class="flat-icon-check-1 font-size-25"></i>LEARN MORE</a>
                                    </div>

                                    <!-- Another button if required -->

                                    <!-- <div class="tp-caption"
                                        data-x="['left','left','left','center']" data-hoffset="['212','212','185','170']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['193','193','180','145']"
                                        data-width="full"
                                        data-height="none"
                                        data-whitespace="normal"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                        data-mask_in="x:0px;y:[100%];" 
                                        data-mask_out="x:inherit;y:inherit;" 
                                        data-start="1000" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on">
                                        <a href="page-contact.html" class="themesflat-button accent big video"><i class="flat-icon-check-1 font-size-25"></i>LEARN MORE</a>
                                    </div> -->
                                </li>
                                <!-- /End Slide 1 -->

                                <!-- Slide 2 -->
                                <li data-transition="random">
                                    <!-- Main Image -->
                                    <img src="{% static 'home\static_images\slider\slider-bg-3.jpg' %}" alt=""
                                        data-bgposition="center center" data-no-retina>

                                    <!-- Layers -->
                                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-center"
                                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['-12','-12','-12','-30']" data-fontsize="['64','64','50','28']"
                                        data-lineheight="['66','66','60','35']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        FULLY INDEPENDENT
                                    </div>

                                    <div class="tp-caption tp-resizeme text-white text-center"
                                        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['104','104','95','57']" data-fontsize="['18','18','18','16']"
                                        data-lineheight="['34','34','34','25']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        We're not beholden to any corporate agenda—our focus is your success<br>and
                                        clients enjoy direct access to the firm's owners.
                                    </div>

                                    <div class="tp-caption text-center" data-x="['center','center','center','center']"
                                        data-hoffset="['-110','-110','-90','-85']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['203','203','203','140']" data-width="250" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        <a href="{% url 'contact' %}" class="themesflat-button accent big video">
                                            <img src="{% static 'home\static_images\get-quote.png' %}" alt="Quote Icon">
                                            GET QUOTE
                                        </a>
                                    </div>

                                    <div class="tp-caption text-center" data-x="['center','center','center','center']"
                                        data-hoffset="['104','104','90','85']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['203','203','203','140']" data-width="250" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        <a href="{% url 'contact' %}" class="themesflat-button white big video"><i
                                                class="flat-icon-check-1 font-size-25"></i>LEARN MORE</a>
                                    </div>
                                </li>
                                <!-- /End Slide 2 -->

                                <!-- Slide 3 -->
                                <li data-transition="random">
                                    <!-- Main Image -->
                                    <img src="{% static 'home\static_images\slider\slider-bg-4.jpg' %}" alt=""
                                        data-bgposition="center center" data-no-retina>

                                    <!-- Layers -->
                                    <div class="tp-caption tp-resizeme text-white font-heading font-weight-700 text-right"
                                        data-x="['right','right','right','right']" data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['-12','-12','-12','-30']" data-fontsize="['52','52','50','28']"
                                        data-lineheight="['66','66','60','35']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="700" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        GET CONNECTED<br>GROW YOUR BUSINESS
                                    </div>

                                    <div class="tp-caption sub-title text-white text-right"
                                        data-x="['right','right','right','right']" data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['104','104','104','57']" data-fontsize="['20','20','18','16']"
                                        data-lineheight="['34','34','34','25']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        Appropriate and sufficient financing for<br>a company is crucially important for
                                        its long-term success.
                                    </div>

                                    <div class="tp-caption text-right" data-x="['right','right','right','right']"
                                        data-hoffset="['-5','-5','0','0']"
                                        data-y="['middle','middle','middle','middle']"
                                        data-voffset="['193','193','193','140']" data-width="full" data-height="none"
                                        data-whitespace="normal" data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;"
                                        data-start="1000" data-splitin="none" data-splitout="none"
                                        data-responsive_offset="on">
                                        <a href="{% url 'contact' %}" class="themesflat-button accent big video"><i
                                                class="flat-icon-check-1 font-size-25"></i>LEARN MORE</a>
                                    </div>

                                    <!-- ANOTHER BUTTON IF NEEDED -->

                                    <!-- <div class="tp-caption text-right"
                                        data-x="['right','right','right','right']" data-hoffset="['212','212','180','165']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['193','193','193','140']"
                                        data-width="full"
                                        data-height="none"
                                        data-whitespace="normal"
                                        data-transform_idle="o:1;"
                                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
                                        data-mask_in="x:0px;y:[100%];" 
                                        data-mask_out="x:inherit;y:inherit;" 
                                        data-start="1000" 
                                        data-splitin="none" 
                                        data-splitout="none" 
                                        data-responsive_offset="on">
                                        <a href="page-contact.html" class="themesflat-button accent big video"><img src="assets/img/watch-video.png" alt="Image">WATCH VIDEO</a>                                            
                                    </div> -->
                                </li>
                                <!-- /End Slide 3 -->

                            </ul>
                        </div>
                    </div>
                    <!-- END SLIDER -->

                    <!-- ABOUT US SNIP -->
                    <div class="row-video">
                        <div class="container">
                            <div class="themesflat-spacer clearfix" data-desktop="104" data-mobi="60" data-smobi="60">
                            </div>
                            <div class="row equalize sm-equalize-auto">
                                <div class="col-md-6">
                                    <div class="themesflat-spacer clearfix" data-desktop="33" data-mobi="0"
                                        data-smobi="0"></div>

                                    <div class="themesflat-headings style-1 clearfix">
                                        <h2 class="heading letter-spacing--09px clearfix">BEACHCLOSE</h2>
                                        <div class="sep clearfix"></div>
                                        <p class="sub-heading clearfix">Beachclose was founded in 2019 as a bespoke
                                            boutique consulting firm by Managing Direction/Chief Consultant Leonard
                                            Rowe. </p>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="20" data-mobi="20"
                                        data-smobi="20"></div>
                                    <h3 class="title-video">We are independent and free from third party influence.</h3>
                                    <div class="themesflat-spacer clearfix" data-desktop="21" data-mobi="20"
                                        data-smobi="20"></div>
                                    <a href="{% url 'about' %}" class="themesflat-button blue">LEARN ABOUT US</a>
                                    <div class="themesflat-spacer clearfix" data-desktop="28" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6 half-background style-1">
                                    <div class="themesflat-icon style-1 clearfix background">
                                        <a class="icon-wrap popup-video" href="https://youtu.be/na9eBzLMhTg"
                                            target="_blank" rel="noopener noreferrer nofollow">
                                            <span class="icon"><i class="finance-icon-playbutton"></i></span>
                                        </a>
                                    </div><!-- /.themesflat-icon -->
                                </div><!-- /.col-md-6 -->
                            </div>
                            <div class="themesflat-spacer clearfix" data-desktop="80" data-mobi="60" data-smobi="60">
                            </div>
                            <div class="border-h-1 dark"></div>
                        </div>
                    </div>
                    <!-- ABOUT US SNIP -->

                    <!-- FACTS -->
                    <div class="row-facts-1 parallax parallax-overlay">
                        <div class="bg-parallax-overlay overlay-black"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="104" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-3">
                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0" data-position="80%">
                                        <div
                                            class="themesflat-counter style-3 mobi-center clearfix icon-top margin-top--27">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix">FOUNDED<br>IN </span><span
                                                            class="number accent" data-speed="3000" data-to="2019"
                                                            data-inviewport="yes">1988</span><span
                                                            class="suffix">.</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">We are one of the best financial services
                                                        providers in Sydney.</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-3 -->

                                <div class="col-md-3">
                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.15s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="50"
                                                            data-inviewport="yes">7513</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">HAPPY CUSTOMERS</h3>
                                                </div>

                                                <div class="border-right-2"></div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-3 -->

                                <div class="col-md-3">
                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.3s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="30"
                                                            data-inviewport="yes">1290</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">EXPERT ADVISORS</h3>

                                                    <div class="border-right-2"></div>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-3 -->

                                <div class="col-md-3">
                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.45s" data-position="80%">
                                        <div class="themesflat-counter style-2 clearfix icon-top text-center">
                                            <div class="inner">
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="100"
                                                            data-inviewport="yes">2684</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">PROJECT SUCCESS</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->
                                </div><!-- /.col-md-3 -->

                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="72" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END FACTS 1 -->



                    <!-- OUR SERVICES -->
                    <div class="row-services">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="91" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-headings style-2 clearfix text-center padding-left-24">
                                        <h2 class="heading clearfix">OUR SERVICES</h2>
                                        <p class="sub-heading clearfix">We provide a full fledge financial serives
                                            supporting various fields. Explore and choose the best fit for you. Be the
                                            next success story.</p>
                                        <div class="sep clearfix"></div>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="60" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->

                                <!-- SERVICE 1 COMMODITY ANALYTICS -->

                                <div class="col-md-4">
                                    <div
                                        class="themesflat-icon-box style-3 clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i class="finance-icon-graphic"></i>
                                        </div>

                                        <h3 class="heading"><a href="#">COMMODITY ANALYTICS</a></h3>


                                        <p class="desc">We serve our valuable clients with cost analysis, pricing
                                            analytics on various fields under various conditions.</p>
                                    </div><!-- /.themesflat-icon-box -->

                                    <!-- SERVICE 4 PROFESSIONAL WITNESS WORK -->

                                    <div class="themesflat-spacer clearfix" data-desktop="54" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div
                                        class="themesflat-icon-box style-3 clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i><img src="{% static 'home\static_images\service_icons\commodity1.png' %}"
                                                    alt="Image"></i>
                                        </div>

                                        <h3 class="heading"><a href="#">PROFESSIONAL WITNESS WORK</a></h3>

                                        <p class="desc">We can assist our valuable clients in preparing investor and
                                            board presentations. </p>
                                    </div><!-- /.themesflat-icon-box -->


                                    <!-- SERVICE 2 INVESTOR PRESENTATIONS -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div
                                        class="themesflat-icon-box style-3 clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i><i class="finance-icon-cheque-2"></i></i>
                                        </div>

                                        <h3 class="heading"><a href="#">INVESTOR PRESENTATIONS</a></h3>

                                        <p class="desc">Beachclose has experience and can assist our valuable clients in
                                            preparing investor and board presentations. </p>
                                    </div><!-- /.themesflat-icon-box -->


                                    <!-- SERVICE 5 MARKETING AND BUSINESS STRATEGY -->

                                    <div class="themesflat-spacer clearfix" data-desktop="54" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div
                                        class="themesflat-icon-box style-3 clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i><img src="{% static 'home\static_images\service_icons\business-strategy1.png' %}"
                                                    alt="Image"></i>
                                        </div>

                                        <h3 class="heading"><a href="#">MARKETING & BUSINESS STRATEGY</a></h3>

                                        <p class="desc">We also specialises in assisting our clients in developing
                                            tailored Marketing and Business plans to drive revenue streams.</p>
                                    </div><!-- /.themesflat-icon-box -->


                                    <!-- SERVICE 3 MANAGEMENT OPERATIONG SYSTEMS -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4">
                                    <div
                                        class="themesflat-icon-box style-3 clearfix icon-left w70 dark-bg align-left rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i class="finance-icon-safebox-3"></i>
                                        </div>

                                        <h3 class="heading"><a href="#">MOS</a></h3>

                                        <p class="desc">We offer tailored sustainable MOS (Management Operating Systems)
                                            to assist our clients maximise efficiencies.</p>
                                    </div><!-- /.themesflat-icon-box -->




                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="107" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END OUR SERVICES -->


                    <!-- CONTACT AND QUOTE REQUEST FORM IF NEEDED IN FUTURE -->

                    <!-- <div class="row-request">
                        <div class="container-fluid">
                            <div class="row equalize sm-equalize-auto">
                                <div class="col-md-6 half-background style-3">
                                    
                                </div>
                                <div class="col-md-6 bg-light-grey">
                                    <div class="themesflat-spacer clearfix" data-desktop="85" data-mobi="40" data-smobi="40"></div>

                                    <div class="themesflat-content-box clearfix " data-margin="0% 26.8% 0% 10.7%" data-mobimargin="0% 5% 0% 5%">
                                        <div class="themesflat-headings style-3 clearfix">
                                            <h2 class="heading clearfix">REQUEST FOR A CALL BACK</h2>
                                            <div class="sep clearfix"></div>
                                            <p class="sub-heading clearfix">Please complete this form, our expert advisor will be in touch with you.</p>
                                        </div>

                                        <div class="themesflat-spacer clearfix" data-desktop="32" data-mobi="40" data-smobi="40"></div>

                                        <div class="themesflat-contact-form style-1">
                                            <form action="./includes/contact/contact-process.php" method="post" class="contact-form wpcf7-form">
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" tabindex="1" id="name" name="name" value="" class="wpcf7-form-control" placeholder="YOUR NAME*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-phone">
                                                    <input type="text" tabindex="2" id="phone" name="phone" value="" class="wpcf7-form-control" placeholder="YOUR PHONE*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-select">
                                                    <select>
                                                        <option value="">BEST TIME TO CALL</option>
                                                        <option value="">BEST TIME TO CALL</option>
                                                        <option value="">BEST TIME TO CALL</option>
                                                    </select>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input type="text" tabindex="3" id="subject" name="subject" value="" class="wpcf7-form-control" placeholder="SUBJECT*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="message" tabindex="4" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" placeholder="YOUR MESSAGE*" required></textarea>
                                                </span>
                                                <div class="wrap-submit">
                                                    <input type="submit" value="CALL ME BACK" class="submit wpcf7-form-control wpcf7-submit" id="submit" name="submit">
                                                </div>
                                                <span class="your-notification">or write us on <a href="#">Get in Touch</a> page.</span>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="themesflat-spacer clearfix" data-desktop="90" data-mobi="40" data-smobi="40"></div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- TESTIMONIALS -->
                    <div class="row-testimonials">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="93" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-headings style-1 clearfix text-center">
                                        <h2 class="heading clearfix">CLIENT TESTIMONIALS</h2>
                                        <div class="sep clearfix"></div>
                                        <p class="sub-heading clearfix">Appropriate and sufficient financing for a
                                            company is crucially important for its long-term success. We advise you in
                                            choosing the appropriate type of financing</p>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="52" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-carousel-box has-bullets bullet-circle" data-auto="true"
                                        data-loop="false" data-gap="25" data-column="3" data-column2="2"
                                        data-column3="1">
                                        <div class="owl-carousel owl-theme">

                                            {% if testimonials_data %}
                                            {% for each_testimonial in testimonials_data %}
                                            <div class="themesflat-testimonials style-1 clearfix image-circle">
                                                <div class="item">
                                                    <div class="inner">
                                                        <div class="thumb">
                                                            <img src="/media/{{ each_testimonial.image }}" alt="Image">
                                                        </div>
                                                        <blockquote class="text">
                                                            <div class="start">
                                                                {% with ''|center:each_testimonial.rating as range %}
                                                                {% for _ in range %}
                                                                <i class="finance-icon-star"></i>
                                                                {% endfor %}
                                                                {% endwith %}
                                                            </div>
                                                            <p>{{ each_testimonial.testimonial }}</p>
                                                            <div class="name-pos">
                                                                <h6 class="name">{{ each_testimonial.full_name }}</h6>
                                                                <span
                                                                    class="position">{{ each_testimonial.organization }}</span>
                                                            </div>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            </div><!-- /.themesflat-testimonials -->
                                            {% endfor %}
                                            {% else %}
                                            <h5 class="">No testimonial data has been found.</h5>
                                            {% endif %}

                                        </div>
                                    </div><!-- /.themesflat-carousel-box -->

                                    <div class="themesflat-spacer clearfix" data-desktop="32" data-mobi="0"
                                        data-smobi="0"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END TESTIMONIALS -->

                    <!-- PARTNERS -->
                    <div class="row-partner">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="60" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-partner style-1 arrow-center offset30 offset-v0 has-arrows arrows-circle w32"
                                        data-auto="false" data-loop="false" data-column="5" data-column2="3"
                                        data-column3="2" data-gap="60">
                                        <div class="owl-carousel owl-theme">
                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-1.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-2.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-3.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-4.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-5.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-6.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-7.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-8.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.themesflat-partner -->

                                    <div class="themesflat-spacer clearfix" data-desktop="64" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END PARTNERS -->

                    <!-- PROMOTION -->
                    <div class="row-promotion bg-accent">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="24" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div
                                        class="themesflat-action-box style-1 has-icon padding-left-106 padding-right-113">
                                        <div class="inner">
                                            <div class="heading-wrap">
                                                <div class="text-wrap">
                                                    <span class="icon finance-icon-award"></span>
                                                    <h3 class="heading mobi-padding-top20 mobi-padding-bottom20">
                                                        PROFESSIONAL HELP IN PLANNING YOUR FINANCIAL FUTURE
                                                    </h3>
                                                    <span class="icon"><i class="as-icon-speedometer2"></i></span>
                                                </div>
                                            </div>
                                            <div class="button-wrap">
                                                <a href="{% url 'contact' %}"
                                                    class="themesflat-button white font-weight-600 margin-top-10 margin-bottom-13">CONTACT
                                                    US TODAY</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="themesflat-spacer clearfix" data-desktop="20" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END PROMOTION -->
                </div><!-- /.page-content -->
            </div><!-- /#inner-content -->
        </div><!-- /#site-content -->
    </div><!-- /#content-wrap -->
</div><!-- /#main-content -->
{% endblock content %}

{% block jsarea %}
{% endblock jsarea %}