{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Contact | Beachclose
{% endblock titlearea %}

{% block cssarea %}
{% endblock cssarea %}

{% block content %}
<!-- Featured Title -->
<div id="featured-title" class="featured-title clearfix">
    <div id="featured-title-inner" class="themesflat-container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">
                    CONTACT US
                </h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="home.html" class="trail-begin">Home</a>
                        <span class="sep"><i class="finance-icon-chevron-right"></i></span>
                        <span class="trail-end">CONTACT US</span>
                    </div>
                </div>
            </div>
        </div><!-- /.featured-title-inner-wrap -->
    </div><!-- /#featured-title-inner -->
</div>
<!-- End Featured Title -->

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- GOOGLE MAP -->
                    <div class="row-maps">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="94" data-mobi="60"
                                        data-smobi="60"></div>

                                    <div class="themesflat-gmap style-1" data-lat="34.015219" data-lng="-117.847033"
                                        data-marker="assets/img/marker.png" data-zoom="14"></div>

                                    <div class="themesflat-spacer clearfix" data-desktop="94" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col -->
                            </div><!-- /.themesflat-row -->
                        </div><!-- /.themesflat-container -->
                    </div>
                    <!-- END GOOGLE MAP -->
                    <!-- CONATCT-->
                    <div class="row-contact bg-light-grey">
                        <div class="container">
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="90" data-mobi="60"
                                        data-smobi="60"></div>

                                    <div class="col-md-9">
                                        <div class="themesflat-contact-form style-1">
                                            <form action="./includes/contact/contact-process.php" method="post"
                                                class="contact-form wpcf7-form">
                                                <span class="wpcf7-form-control-wrap your-name">
                                                    <input type="text" tabindex="1" id="name" name="name" value=""
                                                        class="wpcf7-form-control" placeholder="YOUR NAME*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-phone">
                                                    <input type="text" tabindex="2" id="phone" name="phone" value=""
                                                        class="wpcf7-form-control" placeholder="YOUR PHONE*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-select">
                                                    <select>
                                                        <option value="">BEST TIME TO CALL</option>
                                                        <option value="">BEST TIME TO CALL</option>
                                                        <option value="">BEST TIME TO CALL</option>
                                                    </select>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-subject">
                                                    <input type="text" tabindex="3" id="subject" name="subject" value=""
                                                        class="wpcf7-form-control" placeholder="SUBJECT*" required>
                                                </span>
                                                <span class="wpcf7-form-control-wrap your-message">
                                                    <textarea name="message" tabindex="4" cols="40" rows="10"
                                                        class="wpcf7-form-control wpcf7-textarea"
                                                        placeholder="YOUR MESSAGE*" required></textarea>
                                                </span>
                                                <div class="wrap-submit">
                                                    <input type="submit" value="CALL ME BACK"
                                                        class="submit wpcf7-form-control wpcf7-submit" id="submit"
                                                        name="submit">
                                                </div>
                                                <!-- <span class="your-notification">or write us on <a href="#">Get in
                                                        Touch</a> page.</span> -->
                                            </form>
                                        </div><!-- /.themesflat-contact-form -->
                                    </div><!-- /.col-md-9 -->

                                    <div class="col-md-3">
                                        <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="30"
                                            data-smobi="30"></div>

                                        <div class="themesflat-content-box clearfix" data-margin="2px 0px 0px 9px"
                                            data-mobimargin="0px 0px 0px 0px">
                                            <div class="themesflat-contact-info">
                                                <div class="inner">
                                                    <div class="contact-info-item clearfix">
                                                        <h6 class="title"><span>PHONE NUMBER</span></h6>
                                                        <ul>
                                                            <li><a href="#">Phone: +1 (909) 451-4300</a></li>
                                                            <li><a href="#">Phone: +1 (909) 451-4301</a></li>
                                                        </ul>
                                                    </div>

                                                    <div class="contact-info-item clearfix">
                                                        <h6 class="title margin-bottom-16"><span>ADDRESS</span></h6>
                                                        <p>383 South Cheryl Lane, CA, 91789, United state</p>
                                                        <div class="socials clearfix">
                                                            <span class="icons">
                                                                <a href="#" title="Facebook">
                                                                    <span class="finance-icon-Facebook"
                                                                        aria-hidden="true"></span>
                                                                </a>
                                                                <a href="#" title="Twitter">
                                                                    <span class="finance-icon-Twitter"
                                                                        aria-hidden="true"></span>
                                                                </a>
                                                                <a href="#" title="Linkedin">
                                                                    <span class="flat-icon-linkedin"
                                                                        aria-hidden="true"></span>
                                                                </a>
                                                                <a href="#" title="Instagram">
                                                                    <span class="flat-icon-instagram"
                                                                        aria-hidden="true"></span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div><!-- /.col-md-3 -->

                                    <div class="themesflat-spacer clearfix" data-desktop="90" data-mobi="60"
                                        data-smobi="60"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONATCT-->
                </div><!-- /.page-content -->
            </div><!-- /#inner-content -->
        </div><!-- /#site-content -->
    </div><!-- /#content-wrap -->
</div><!-- /#main-content -->
{% endblock content %}

{% block jsarea %}
{% endblock jsarea %}