{% extends 'home/base.html' %}
{% load static %}

{% block metaarea %}
{% endblock metaarea %}

{% block titlearea %}
Services | Beachclose
{% endblock titlearea %}

{% block cssarea %}
{% endblock cssarea %}

{% block content %}
<!-- Featured Title -->
<div id="featured-title" class="featured-title clearfix">
    <div id="featured-title-inner" class="themesflat-container clearfix">
        <div class="featured-title-inner-wrap">
            <div class="featured-title-heading-wrap">
                <h1 class="featured-title-heading">
                    SERVICES
                </h1>
            </div>
            <div id="breadcrumbs">
                <div class="breadcrumbs-inner">
                    <div class="breadcrumb-trail">
                        <a href="{% url 'home' %}" class="trail-begin">Home</a>
                        <span class="sep"><i class="finance-icon-chevron-right"></i></span>
                        <span class="trail-end">SERVICES</span>
                    </div>
                </div>
            </div>
        </div><!-- /.featured-title-inner-wrap -->
    </div><!-- /#featured-title-inner -->
</div>
<!-- End Featured Title -->

<!-- Main Content -->
<div id="main-content" class="site-main clearfix">
    <div id="content-wrap">
        <div id="site-content" class="site-content clearfix">
            <div id="inner-content" class="inner-content-wrap">
                <div class="page-content">
                    <!-- SERVICES IMAGEBOXS -->
                    <div class="row-services">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="92" data-mobi="60"
                                        data-smobi="60"></div>

                                    <div class="themesflat-headings style-1 clearfix text-center padding-left-3">
                                        <h2 class="heading clearfix">BEST SERVICES OFFER</h2>
                                        <div class="sep clearfix"></div>
                                        <p class="sub-heading clearfix">Appropriate and sufficient financing for a
                                            company is crucially important for its long-term success. We advise you in
                                            choosing the appropriate type of financing</p>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="52" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="themesflat-news bullet-circle has-bullets" data-auto="false"
                                        data-column="3" data-column2="2" data-column3="1" data-gap="35">
                                        <div class="owl-carousel owl-theme">
                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-4.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">INVESTMENT LOAN</a></h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">Loan business play a vital role in
                                                            keeping your business competitive. In many cases, such
                                                            measures and investments require capital</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-5.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">Project Finance</a></h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">We aim at developing and implementing
                                                            customized and sustainable project financing solutions
                                                            together with our clients</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-6.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">REAL ESTATE PLANNING</a>
                                                        </h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">Finance focuses its services on a wide
                                                            variety of financing solutions as well as for real estate
                                                            project development and real estate projects.</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-4.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">INVESTMENT LOAN</a></h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">Loan business play a vital role in
                                                            keeping your business competitive. In many cases, such
                                                            measures and investments require capital</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-5.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">Project Finance</a></h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">We aim at developing and implementing
                                                            customized and sustainable project financing solutions
                                                            together with our clients</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-6.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">REAL ESTATE PLANNING</a>
                                                        </h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">Finance focuses its services on a wide
                                                            variety of financing solutions as well as for real estate
                                                            project development and real estate projects.</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->

                                            <div class="news-item style-1 text-center clearfix">
                                                <div class="inner">
                                                    <div class="thumb">
                                                        <img src="{% static 'home\static_images\news\post-4.jpg' %}"
                                                            alt="Image">
                                                        <h3
                                                            class="title bg-gradient font-size-16 padding-top-30 padding-bottom-10">
                                                            <a href="page-blog-single.html">INVESTMENT LOAN</a></h3>
                                                    </div>
                                                    <div class="text-wrap bg-light-grey">

                                                        <p class="excerpt-text">Loan business play a vital role in
                                                            keeping your business competitive. In many cases, such
                                                            measures and investments require capital</p>

                                                        <div class="post-btn">
                                                            <a href="page-blog-single.html" class="simple-link">READ
                                                                MORE</a>
                                                        </div>
                                                    </div><!-- /.text-wrap -->
                                                </div>
                                            </div><!-- /.news-item -->
                                        </div>
                                    </div><!-- /.themesflat-news -->
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="97" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END SERVICES IMAGEBOXS -->

                    <!-- FACTS -->
                    <div class="row-facts-1 parallax parallax parallax-overlay">
                        <div class="bg-parallax-overlay overlay-black"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="72" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-headings style-1 color-white text-center clearfix">
                                        <h2 class="heading clearfix">COMPANY FACTS</h2>
                                        <div class="sep clearfix"></div>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="34" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-4 border-left-1 border-top-1 border-bottom-1 azure1">
                                    <div class="themesflat-spacer clearfix" data-desktop="40" data-mobi="0"
                                        data-smobi="0"></div>

                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.15s" data-position="80%">
                                        <div class="themesflat-counter style-5 icon-left clearfix text-center">
                                            <div class="inner">
                                                <div class="icon-wrap">
                                                    <div class="icon"><i class="finance-icon-bulb"></i></div>
                                                </div>
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="7513"
                                                            data-inviewport="yes">7513</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">Happy Clients</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="25" data-mobi="0"
                                        data-smobi="0"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4 border-left-1 border-top-1 border-right-1 border-bottom-1 azure1">
                                    <div class="themesflat-spacer clearfix" data-desktop="40" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.3s" data-position="80%">
                                        <div class="themesflat-counter style-5 icon-left clearfix text-center">
                                            <div class="inner">
                                                <div class="icon-wrap">
                                                    <div class="icon"><i class="finance-icon-businessman-1"></i></div>
                                                </div>
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="1290"
                                                            data-inviewport="yes">1290</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">Expert Advisors</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="25" data-mobi="0"
                                        data-smobi="0"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4 border-top-1 border-right-1 border-bottom-1 azure1">
                                    <div class="themesflat-spacer clearfix" data-desktop="40" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-animation-block" data-animate="fadeInUpSmall"
                                        data-duration="1s" data-delay="0.45s" data-position="80%">
                                        <div class="themesflat-counter style-5 icon-left clearfix text-center">
                                            <div class="inner">
                                                <div class="icon-wrap">
                                                    <div class="icon"><i class="finance-icon-award"></i></div>
                                                </div>
                                                <div class="text-wrap">
                                                    <div class="number-wrap font-heading">
                                                        <span class="prefix"></span><span class="number accent"
                                                            data-speed="3000" data-to="2684"
                                                            data-inviewport="yes">2684</span><span
                                                            class="suffix">+</span>
                                                    </div>

                                                    <div class="sep"></div>
                                                    <h3 class="heading">Project Success</h3>
                                                </div>
                                            </div>
                                        </div><!-- /.themesflat-counter -->
                                    </div><!-- /.themesflat-animation-block -->

                                    <div class="themesflat-spacer clearfix" data-desktop="25" data-mobi="0"
                                        data-smobi="0"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="80" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END FACTS 1 -->

                    <!-- ICONBOX -->
                    <div class="row-services">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="91" data-mobi="60"
                                        data-smobi="60"></div>

                                    <div class="themesflat-headings style-1 clearfix text-center">
                                        <h2 class="heading clearfix">OUR MAIN SERVICES</h2>
                                        <div class="sep clearfix"></div>
                                        <p class="sub-heading clearfix">Appropriate and sufficient financing for a
                                            company is crucially important for its long-term success. We advise you in
                                            choosing the appropriate type of financing</p>
                                    </div><!-- /.themesflat-headings -->

                                    <div class="themesflat-spacer clearfix" data-desktop="52" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->

                                <div class="col-md-4 border-right-1 dark padding-left-62 padding-right-45">
                                    <div
                                        class="themesflat-icon-box accent-bg clearfix w93 text-center rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i class="finance-icon-bars-1"></i>
                                        </div>

                                        <h3 class="heading font-size-16 font-weight-600 margin-top-17 margin-bottom-10">
                                            <a href="#">PROJECT FINANCE</a></h3>

                                        <p class="desc">We aim at developing and implementing customized and sustainable
                                            project financing solutions together with our clients. Derivative
                                            instruments to hedge against interest rate and currency risks</p>

                                        <div class="elm-btn">
                                            <a target="_blank" class=" simple-link font-heading" href="#">READ MORE</a>
                                        </div>
                                    </div><!-- /.themesflat-icon-box -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4 border-right-1 dark padding-left-50 padding-right-45">
                                    <div
                                        class="themesflat-icon-box accent-bg clearfix w93 text-center rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i class="finance-icon-bank-2"></i>
                                        </div>

                                        <h3 class="heading font-size-16 font-weight-600 margin-top-17 margin-bottom-10">
                                            <a href="#">INVESTMENT LOAN</a></h3>

                                        <p class="desc">Loan business play a vital role in keeping your business
                                            competitive. In many cases, such measures and investments require capital
                                            and funding has to be supplemented by external financing.</p>

                                        <div class="elm-btn">
                                            <a target="_blank" class=" simple-link font-heading" href="#">READ MORE</a>
                                        </div>
                                    </div><!-- /.themesflat-icon-box -->

                                    <div class="themesflat-spacer clearfix" data-desktop="0" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-4 padding-left-54 padding-right-45">
                                    <div
                                        class="themesflat-icon-box accent-bg clearfix w93 text-center rounded-100 has-width">
                                        <div class="icon-wrap">
                                            <i class="finance-icon-buildings-2"></i>
                                        </div>

                                        <h3 class="heading font-size-16 font-weight-600 margin-top-17 margin-bottom-10">
                                            <a href="#">REAL ESTATE & PLANNING</a></h3>

                                        <p class="desc">Finance focuses its services on a wide variety of financing
                                            solutions as well as for real estate project development and real estate
                                            projects. We are specialist for real estate financing and project
                                            development.</p>

                                        <div class="elm-btn">
                                            <a target="_blank" class=" simple-link font-heading" href="#">READ MORE</a>
                                        </div>
                                    </div><!-- /.themesflat-icon-box -->
                                </div><!-- /.col-md-4 -->

                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="96" data-mobi="60"
                                        data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END ICONBOX -->

                    <!-- PARTNERS -->
                    <div class="row-partner bg-accent">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="themesflat-spacer clearfix" data-desktop="34" data-mobi="40"
                                        data-smobi="40"></div>

                                    <div class="themesflat-partner style-3 offset30 offset-v0" data-auto="false"
                                        data-loop="false" data-column="5" data-column2="3" data-column3="2"
                                        data-gap="60">
                                        <div class="owl-carousel owl-theme">
                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-1-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-2-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-3-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-4-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-5-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-6-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-7-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="partner-item clearfix">
                                                <div class="inner">
                                                    <a target="_blank" href="#">
                                                        <div class="thumb">
                                                            <img src="{% static 'home\static_images\partners\logo-8-white.png' %}"
                                                                alt="Image">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.themesflat-partner -->

                                    <div class="themesflat-spacer clearfix" data-desktop="25" data-mobi="40"
                                        data-smobi="40"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    </div>
                    <!-- END PARTNERS -->
                </div><!-- /.page-content -->
            </div><!-- /#inner-content -->
        </div><!-- /#site-content -->
    </div><!-- /#content-wrap -->
</div><!-- /#main-content -->
{% endblock content %}

{% block jsarea %}
{% endblock jsarea %}